.home {
  $self: &;

  &--content {
    height: 100%;
  }

  &--full-img {
    width: 100%;
    filter: brightness(70%);

    &-container {
      position: relative;
      width: 100%;
    }

    &-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 56px;
    }
  }

  &--title {
    font-size: 56px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  &--subtitle {
    font-size: 16px;
  }

  &--ant {
    $self: &;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-col {
      display: block;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &--info {
    display: flex;
    align-self: start;
    margin: 30px;
    text-align: start;
    line-height: 1.5;
  }

  &--img {
    width: 95%;
  }
}

.space {
  height: 30px;
  width: 100%;
}
